<%- include("header") %>
<%- include("navbar") %>

<div class="container">
    <h4>Adder</h4>

    <div class="row">

        <div class="col s12 hidden" id="error-alert">
            <div class="card red">
                <div class="card-content white-text">
                    <span class="card-title">Error</span>
                    <p class="message">
                        <!-- error msg -->
                    </p>
                </div>
                <div class="card-action">
                    <a href="#" class="close yellow-text">Close</a>
                </div>
            </div>
        </div>

        <div class="col s12 hidden" id="success-alert">
            <div class="card darken-2 green">
                <div class="card-content white-text">
                    <span class="card-title">Success</span>
                    <p>It's all smooth.</p>
                    <!-- TODO: more information -->
                </div>
                <div class="card-action">
                    <a href="#" class="close">Add new product</a>
                </div>
            </div>
        </div>

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s2 offset-s1"><a class="active" href="#ean-form">Barcode</a></li>
                <li class="tab col s2"><a href="#name-form">Name</a></li>
                <li class="tab col s2"><a href="#price-form">Price</a></li>
                <li class="tab col s2"><a href="#quantity-form">Quantity</a></li>
                <li class="tab col s2"><a href="#confirm-form">Confirm</a></li>
            </ul>
        </div>

        <div id="ean-form" class="col s12">
            <div class="divider"></div>
            <div class="section">
                <h5>Barcode</h5>
                <div class="row">

                    <form class="col s12">
                        <div class="row">

                            <div class="input-field col s8">
                                <i class="material-icons prefix">code</i>
                                <input class="ean validate" type="text" name="ean" data-length="14" minlength="8"
                                    maxlength="14">
                                <label>Barcode</label>
                            </div>

                            <div class="input-field col s4">
                                <button class="btn waves-effect waves-light red darken-1" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div id="name-form" class="col s12">
            <div class="divider"></div>
            <div class="section">
                <h5>Name</h5>
                <div class="row">

                    <form class="col s12">
                        <div class="row">

                            <div class="input-field col s8">
                                <input class="name validate" type="text" name="name" placeholder="Name nicht gefunden"
                                    required>
                                <label>Name</label>
                            </div>

                            <div class="input-field col s4">
                                <button class="btn waves-effect waves-light red darken-1" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div id="price-form" class="col s12">
            <div class="divider"></div>
            <div class="section">
                <h5>Preis</h5>
                <div class="row">

                    <form class="col s12">
                        <div class="row">

                            <div class="input-field col s2">
                                <!-- <i class="material-icons prefix">euro_symbol</i> -->
                                <input class="price validate" type="number" placeholder="19.99" min="0.01" step="0.01"
                                    name="price" required>
                                <label for="price" data-i18n="price"></label>
                            </div>
                            <div class="input-field col s5">
                                <select name="type" id="inputType" required>
                                    <option value="" disabled data-i18n="inventory:amount_type"></option>
                                    <option value="regular" selected data-i18n="quantity"></option>
                                    <option value="weight" data-i18n="weight"></option>
                                </select>
                                <label data-i18n="type"></label>
                            </div>
                            <div class="input-field col s5">
                                <select name="taxType" id="inputTaxType" required>
                                    <option value="" disabled data-i18n="choose"></option>
                                    <option value="regular" selected data-i18n="inventory:tax.regular"></option>
                                    <option value="food" data-i18n="inventory:tax.food"></option>
                                </select>
                                <label data-i18n="tax-type"></label>
                            </div>

                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light red darken-1" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div id="quantity-form" class="col s12">
            <div class="divider"></div>
            <div class="section">
                <h5>Quantity</h5>
                <div class="row">

                    <form class="col s12">
                        <div class="row">

                            <div class="input-field col s8">
                                <!-- <i class="material-icons prefix">list</i> -->
                                <input class="quantity validate" type="number" min="0" step="0.001" name="quantity"
                                    placeholder="1" required>
                                <label for="quantity" data-i18n="amount"></label>
                            </div>

                            <div class="input-field col s4">
                                <button class="btn waves-effect waves-light red darken-1" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div id="confirm-form" class="col s12">
            <div class="divider"></div>
            <div class="section">
                <h5>Confirm</h5>

                <div class="row">
                    <div class="col s12">
                        <div class="card-panel content">
                            <!-- Content goes here -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn-large" id="confirm-btn" href="#">Confirm</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<%#- include("bottomnav") %>
<%- include("footer") %>