<footer class="page-footer brand-grey">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text" data-i18n="common:about"></h5>
                <p class="grey-text text-lighten-4" data-i18n="[html]common:about-text"></p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Control-Panel</h5>
                <ul>
                    <li><a href="/frontend/inventory" data-i18n="inventory"></a></li>
                    <li><a href="/frontend/sales" data-i18n="sales"></a></li>
                    <li><a href="/frontend/stats" data-i18n="stats"></a></li>
                    <% if (page !== "login" && page !== "home") { %>
                    <li><a href="/frontend/logout" data-i18n="logout"></a></li>
                    <% } %>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a href="/frontend/imprint">Impressum</a></li>
                    <li><a href="/frontend/privacy">Datenschutzerklärung</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="https://dpulm.online/">Daniel Poles</a>
        </div>
    </div>
</footer>