    <!--  Scripts-->
    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/i18next@19.0.3/dist/umd/i18next.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/i18next-browser-languagedetector@4.0.1/i18nextBrowserLanguageDetector.min.js"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/jquery-i18next@1.2.1/jquery-i18next.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/i18next-fetch-backend@2.2.0/dist/i18next-fetch-backend.umd.js"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/i18next-localstorage-backend@3.0.0/dist/umd/i18nextLocalStorageBackend.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"
        integrity="sha256-D0tqyrTQHDExvGYoi+kyInjV47fm30M5qq4whUrMuuE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/de.js"
        integrity="sha256-wUoStqxFxc33Uz7o+njPIobHc4HJjMQqMXNRDy7X3ps=" crossorigin="anonymous"></script>
    <% if(page === "inventory") { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.jquery.min.js"
        integrity="sha256-QK3/EhhHt1YmPKjwMbY4UXXXxkQwcbV3IIMHgE50fuI=" crossorigin="anonymous"></script>
    <% } %>
    <% if(page === "stats") { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <% } %>
    <% if(page === "home") { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <% } %>
    <script src="/assets/js/localize.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="/assets/js/<%- page %>.js"></script>

    </body>

    </html>