<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Storekeepers</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700&display=swap" rel="stylesheet">
    <% if(page === "inventory") { %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.min.css" integrity="sha256-PkFqH1wLJYxfmHVSZSRYfQ5uXbofWFAR50DU3m+ZUFE=" crossorigin="anonymous" />
    <% } %>
    <link href="/assets/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body data-page="<%- page %>">