<%- include("header") %>

<%- include("navbar") %>


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <!-- <h1 class="header center blue-text text-lighten-2">Parallax Template</h1> -->
            <div class="row center">
                <object id="logo-main" data="/assets/logo/Schriftlogo_farbig_hell.svg" type="image/svg+xml"
                    class="col s12 m10 l8 offset-m1 offset-l2">
                    <!-- <img src="/assets/logo/Schriftlogo_farbig_hell.png"> -->
                </object>

            </div>
            <div class="row center">
                <h5 class="header col s12 light">The most time-saving solution to look after your store
                </h5>
            </div>
            <div class="row center">
                <a href="#contact" id="signup-button" class="btn-large waves-effect waves-light brand-blue"
                    data-i18n="learn-more"></a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img id="bg1"
            srcset="/assets/img/992/bg1.jpg 992w, /assets/img/1920/bg1.jpg 1920w, /assets/img/max/bg1.jpg 4000w"
            sizes="(max-width: 992px) 992w, (max-width: 1920px) 1920w, 4000w" src="/assets/img/1920/bg1.jpg">
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center" data-i18n="home:features.quick.heading"></h5>

                    <p class="light" data-i18n="home:features.quick.text"></p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">settings</i></h2>
                    <h5 class="center" data-i18n="home:features.easy.heading"></h5>

                    <p class="light" data-i18n="home:features.easy.text"></p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">group</i></h2>
                    <h5 class="center" data-i18n="home:features.simple.heading"></h5>

                    <p class="light" data-i18n="home:features.simple.text"></p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light" data-i18n="home:slogans.0"></h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img id="bg2"
            srcset="/assets/img/992/bg2.jpg 992w, /assets/img/1920/bg2.jpg 1920w, /assets/img/max/bg2.jpg 3264w"
            sizes="(max-width: 992px) 992w, (max-width: 1920px) 1920w, 3264w" src="/assets/img/1920/bg2.jpg">
    </div>
</div>

<div class="container">
    <div class="section" id="contact">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4 data-i18n="learn-more"></h4>
                <p class="light" data-i18n="home:info-text"></p>
                <div class="row">
                    <form class="col s12 l4 offset-l4" id="contact-form" action="/frontend/contact/request">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="input-email" class="validate" type="email" name="email">
                                <label for="input-email" data-i18n="email"></label>
                            </div>
                            <div class="input-field col s12">
                                <input id="input-tel" class="validate" type="tel" name="tel">
                                <label for="input-tel" data-i18n="telephone"></label>
                            </div>
                            <div class="input-field col s12 center">
                                <button class="btn waves-effect waves-light green darken-2" type="submit"
                                    data-i18n="[html]home:submit-btn"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light" data-i18n="home:slogans.1"></h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img id="bg3"
            srcset="/assets/img/992/bg3.jpg 992w, /assets/img/1920/bg3.jpg 1920w, /assets/img/max/bg3.jpg 5472w"
            sizes="(max-width: 992px) 992w, (max-width: 1920px) 1920w, 5472w" src="/assets/img/1920/bg3.jpg">
    </div>
</div>

<%- include("bottomnav") %>
<%- include("footer") %>