<%- include("header") %>
<%- include("navbar") %>

<div class="container">
    <h4>Impressum</h4>

    <div class="divider"></div>
    <div class="section">
        <h5>Angaben gemäß § 5 TMG</h5>
        <p>Storekeepers GmbH i.G.<br>
            Wolbachweg 5<br>
            89077 Ulm
        </p>
        <p><b>Vertreten durch:</b><br>
            Daniel Poles<br>
            Bristol Nimerik</p>
    </div>

    <div class="section">
        <h5>Kontakt</h5>
        <p>Telefon: +49 (0) 1575 011 5716<br>
            E-Mail: info@storekeepers.tech
        </p>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>
    </div>

    <div class="section">
        <h5>Haftung f&uuml;r Inhalte</h5>
        <p>Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten
            nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter
            jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen oder
            nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen.</p>
        <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
            bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der
            Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden
            Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        <h5>Haftung f&uuml;r Links</h5>
        <p>Unser Angebot enth&auml;lt Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
            Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die
            Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
            verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e
            &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
        <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
            Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
            umgehend entfernen.</p>
        <h5>Urheberrecht</h5>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
            Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung
            au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen
            Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht
            kommerziellen Gebrauch gestattet.</p>
        <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
            beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
            Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
            Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
        <h5 id="dsg-administration">Administration, Finanzbuchhaltung, Büroorganisation, Kontaktverwaltung</h5>
        <p>Wir verarbeiten Daten im Rahmen von Verwaltungsaufgaben sowie Organisation
            unseres Betriebs, Finanzbuchhaltung
            und Befolgung der gesetzlichen Pflichten, wie z.B. der Archivierung. Hierbei verarbeiten wir dieselben
            Daten,
            die wir im Rahmen der Erbringung unserer vertraglichen Leistungen verarbeiten. Die
            Verarbeitungsgrundlagen
            sind Art. 6 Abs. 1 lit. c. DSGVO, Art. 6 Abs. 1 lit. f. DSGVO. Von der Verarbeitung sind Kunden,
            Interessenten,
            Geschäftspartner und Websitebesucher betroffen. Der Zweck und unser Interesse an der Verarbeitung liegt
            in
            der Administration, Finanzbuchhaltung, Büroorganisation, Archivierung von Daten, also Aufgaben die der
            Aufrechterhaltung
            unserer Geschäftstätigkeiten, Wahrnehmung unserer Aufgaben und Erbringung unserer Leistungen dienen. Die
            Löschung der Daten im Hinblick auf vertragliche Leistungen und die vertragliche Kommunikation entspricht
            den, bei diesen Verarbeitungstätigkeiten genannten Angaben.
            <br>
            <br> Wir offenbaren oder übermitteln hierbei Daten an die Finanzverwaltung, Berater, wie z.B.,
            Steuerberater
            oder Wirtschaftsprüfer sowie weitere Gebührenstellen und Zahlungsdienstleister.
            <br>
            <br> Ferner speichern wir auf Grundlage unserer betriebswirtschaftlichen Interessen Angaben zu
            Lieferanten, Veranstaltern
            und sonstigen Geschäftspartnern, z.B. zwecks späterer Kontaktaufnahme. Diese mehrheitlich
            unternehmensbezogenen
            Daten, speichern wir grundsätzlich dauerhaft.
        </p>
        <h5 id="dsg-thirdparty-googlefonts">Google Fonts</h5>
        <p>
            Wir binden die Schriftarten ("Google Fonts") des Anbieters Google LLC, 1600
            Amphitheatre Parkway, Mountain View,
            CA 94043, USA, ein. Datenschutzerklärung:
            <a target="_blank"
                href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>,
            Opt-Out:
            <a target="_blank"
                href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>.
        </p>
        <p>Quelle: <a rel="nofollow"
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>

</div>

<%- include("bottomnav") %>
<%- include("footer") %>