<%- include("header") %>
<%- include("navbar") %>

<div class="container">
    <h4 data-i18n="inventory"></h4>

    <div class="divider"></div>
    <div class="section">
        <div class="inventory-header">
            <div class="row">
                <form class="col s12 m6 l8">
                    <!-- <div class="row">
                                <div class="col s12"> -->
                    <div class="input-field inline right" style="width: 100%;">
                        <i class="material-icons prefix">search</i>
                        <input id="inputFilter" type="text">
                        <label for="inputFilter" data-i18n="filter"></label>
                    </div>
                </form>
                <form class="col s12 m6 l4 right-align">
                    <div class="input-field inline" style="margin-right: 1em;">
                        <div class="valign-wrapper">
                            <label for="download-all">
                                <input type="checkbox" id="download-all" />
                                <span>All</span>
                            </label>
                        </div>
                    </div>
                    <div class="input-field inline">
                            <a class="waves-effect waves-light btn" id="download-btn"><i class="material-icons">print</i></a>
                        </div>
                </form>
            </div>

        </div>
        <div class="row">
            <table class="col s12 inventory highlight" data-tablesaw-sortable>
                <thead>
                    <tr>
                        <th data-tablesaw-sortable-col data-tablesaw-sortable-numeric>ID</th>
                        <th data-tablesaw-sortable-col data-i18n="product"></th>
                        <th>GTIN</th>
                        <th data-tablesaw-sortable-col data-tablesaw-sortable-numeric data-i18n="amount"></th>
                        <th class="right" data-tablesaw-sortable-col data-tablesaw-sortable-numeric data-i18n="price">
                        </th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
            <p class="right" data-i18n="inventory:tax_disclaimer"></p>
        </div>
    </div>

    <div class="section">
        <h5 data-i18n="inventory:add"></h5>

        <div class="row">
            <form class="col s12" id="addForm">
                <div class="row">

                    <div class="input-field col s4">
                        <i class="material-icons prefix">code</i>
                        <input id="ean" class="ean validate" type="text" name="ean" data-length="14"
                            placeholder="XXXXXXXXXXXXXX">
                        <label for="ean">Barcode</label>
                    </div>

                    <div class="input-field col s8">
                        <input id="inputName" type="text" name="name" placeholder="Falls kein Barcode vorhanden">
                        <label for="inputName" data-i18n="name"></label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s2">
                        <!-- <i class="material-icons prefix">list</i> -->
                        <input class="quantity validate" type="number" min="0.01" step="0.001" name="quantity"
                            placeholder="1">
                        <label for="quantity" data-i18n="amount"></label>
                    </div>
                    <div class="input-field col s2">
                        <!-- <i class="material-icons prefix">euro_symbol</i> -->
                        <input class="price validate" type="number" placeholder="19.99" min="0.01" step="0.01"
                            name="price">
                        <label for="price" data-i18n="price"></label>
                    </div>
                    <div class="input-field col s3">
                        <select name="type" id="inputType">
                            <option value="" disabled selected data-i18n="inventory:amount_type"></option>
                            <option value="regular" data-i18n="quantity"></option>
                            <option value="weight" data-i18n="weight"></option>
                        </select>
                        <label data-i18n="type"></label>
                    </div>
                    <div class="input-field col s3">
                        <select name="taxType" id="inputTaxType">
                            <option value="" disabled selected data-i18n="choose"></option>
                            <option value="regular" data-i18n="inventory:tax.regular"></option>
                            <option value="food" data-i18n="inventory:tax.food"></option>
                        </select>
                        <label data-i18n="tax-type"></label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn-floating waves-effect waves-light red darken-1" type="submit">
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal bottom-sheet" id="position-change-modal">
        <div class="modal-content">
            <h4 data-i18n="inventory:change"></h4>

            <div class="row">
                <form class="col s12" id="changeForm">
                    <input class="pid" type="hidden" name="pid">
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="inputName" class="name" type="text" name="name" placeholder="">
                            <label for="inputName" data-i18n="name"></label>
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">list</i>
                            <input class="quantity validate" type="number" min="0.01" step="0.001" name="quantity"
                                placeholder="1">
                            <label for="quantity" data-i18n="amount"></label>
                        </div>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">euro_symbol</i>
                            <input class="price validate" type="number" placeholder="19.99" min="0.01" step="0.01"
                                name="price">
                            <label for="price" data-i18n="price"></label>
                        </div>
                        <div class="input-field col s1">
                            <button class="btn-floating waves-effect waves-light red darken-1" type="submit"
                                name="action">
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<%# <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Inventar</h1>
        <div class="row center">
            <h5 class="header col s12 light">Lorem ipsum dolor</h5>
        </div>
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button"
                class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>

    </div>
%>

<%#- include("bottomnav") %>
<%- include("footer") %>