<%- include("header") %>
<%- include("navbar") %>

<div class="container">
    <h4 data-i18n="login"></h4>

    <% if(typeof error === "string") { %>

    <div class="row">
        <div class="col s12">
            <div class="card red">
                <div class="card-content white-text">
                    <span class="card-title" data-i18n="error"></span>
                    <p><%= error %></p>
                </div>
            </div>
        </div>
    </div>

    <% } %>

    <div class="divider"></div>
    <div class="section">

        <div class="row">
            <form class="col s12" id="loginForm" action="/frontend/login" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="inputName" class="name" type="text" name="username" required>
                        <label for="inputName" data-i18n="username"></label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" required>
                        <label for="password" data-i18n="password"></label>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light red darken-1" type="submit"
                            data-i18n="[html]login:btn">
                            <!-- <span data-i18n="login"></span>
                            <i class="material-icons right">send</i> -->
                            <!-- TODO: login button icon -->
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

<%- include("footer") %>