<nav class="brand-grey" role="navigation">
    <div class="nav-wrapper container">

        <a id="logo-container" class="brand-logo" href="/frontend/">
            <!-- <object data="/assets/logo/Bildlogo_farbig.svg" type="image/svg+xml"></object> -->
            <!-- <span>Storekeepers</span> -->
            <img src="/assets/logo/logo-nav.png"></img>
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/frontend/inventory" data-i18n="inventory"></a></li>
            <li><a href="/frontend/sales" data-i18n="sales"></a></li>
            <li><a href="/frontend/stats" data-i18n="stats"></a></li>
            <% if (page !== "login" && page !== "home") { %>
            <li><a href="/frontend/logout" data-i18n="logout"></a></li>
            <% } %>

            <li><a class="lng dropdown-trigger" href="#!" data-target="dropdown-lng"><i
                        class="material-icons left">language</i></a></li>
            <ul id="dropdown-lng" class="dropdown-content">
                <li><a href="#!" data-lng="de">Deutsch</a></li>
                <li><a href="#!" data-lng="fr">Français</a></li>
                <!-- <li class="divider"></li>
                    <li><a href="#!">three</a></li> -->
            </ul>
        </ul>

        <!-- TODO: Mobile menu -->
        <ul id="nav-mobile" class="sidenav">
            <li><a href="/frontend/inventory" data-i18n="inventory"></a></li>
            <li><a href="/frontend/sales" data-i18n="sales"></a></li>
            <li><a href="/frontend/stats" data-i18n="stats"></a></li>
            <% if ( !(page === "login" || page === "home" || page === "imprint" || page === "privacy")) { %>
            <li><a href="/frontend/logout" data-i18n="logout"></a></li>
            <% } %>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>