<%- include("header") %>
<%- include("navbar") %>

<div class="container">
    <h4>Wareneingang</h4>

    <div class="divider"></div>
    <div class="section">
        <div class="inventory-header">
            <div class="row">
                <h5 class="col s12 m8">Liste</h5>
                <form class="col s12 m4">
                    <div class="row">
                        <div class="col s12">
                          <div class="input-field inline right">
                            <i class="material-icons prefix">search</i>
                            <input id="inputFilter" type="text">
                            <label for="inputFilter">Filter</label>
                          </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="col s12 inventory highlight" data-tablesaw-sortable>
                <thead>
                    <tr>
                        <th data-tablesaw-sortable-col data-tablesaw-sortable-numeric>ID</th>
                        <th data-tablesaw-sortable-col>Produkt</th>
                        <th>GTIN</th>
                        <th data-tablesaw-sortable-col data-tablesaw-sortable-numeric>Anzahl</th>
                        <th class="right" data-tablesaw-sortable-col data-tablesaw-sortable-numeric>Preis</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h5>Eintrag hinzufügen oder ändern</h5>

        <div class="row">
            <form class="col s12" id="addForm">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="inputName" type="text" name="name">
                        <label for="inputName">Name</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">code</i>
                        <input id="ean" type="text" name="ean" data-length="14" class="validate"
                            placeholder="XXXXXXXXXXXXXX">
                        <label for="ean">Barcode</label>
                    </div>
                    <div class="input-field col s2">
                        <i class="material-icons prefix">list</i>
                        <input id="quantity" type="number" step="0.01" class="validate" name="quantity"
                            placeholder="1">
                        <label for="quantity">Anzahl</label>
                    </div>
                    <div class="input-field col s2">
                        <i class="material-icons prefix">euro_symbol</i>
                        <input id="price" type="number" placeholder="19.99" min="0.00" step="0.01" class="validate"
                            name="price">
                        <label for="price">Preis</label>
                    </div>
                    <div class="input-field col s1">
                        <button class="btn-floating waves-effect waves-light red darken-1" type="submit" name="action">
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%# <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Inventar</h1>
        <div class="row center">
            <h5 class="header col s12 light">Lorem ipsum dolor</h5>
        </div>
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button"
                class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>

    </div>
%>

<%#- include("bottomnav") %>
<%- include("footer") %>