<%- include("header") %>
<%- include("navbar") %>

<div class="container">
    <h4 data-i18n="stats"></h4>

    <div class="divider"></div>
    <div class="section">
        <h5 data-i18n="filter"></h5>
        <div class="row">
            <form class="col s12" id="filterForm">
                <div class="row">
                    <div class="input-field col s5">
                        <input id="input_start" name="start" type="text" class="datepicker" autocomplete="off">
                        <label for="input_start" data-i18n="time.start"></label>
                    </div>
                    <div class="input-field col s5">
                        <input id="input_end" name="end" type="text" class="datepicker" autocomplete="off">
                        <label for="input_end" data-i18n="time.end"></label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn-floating waves-effect waves-light red darken-1" type="submit" name="action">
                            <i class="material-icons right">filter_list</i>
                        </button>
                    </div>
                </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5 data-i18n="stats:revenue"></h5>
        <div class="row">
            <form class="col s12">
                <div class="card-panel">
                    <canvas id="revChart"></canvas>
                </div>
        </div>
    </div>
    <!-- <div class="divider"></div>
    <div class="section">
        <h5>Liste</h5>

        <ul class="collapsible sales-list">
        </ul>
    </div> -->

</div>

<%- include("footer") %>