// Brand Colors
$brand-blue: #097DB7;

$brand-grey: #282828;
$brand-grey-light: #e0e0e0;

.brand-grey {
    background-color: $brand-grey;
}

.brand-blue {
    background-color: $brand-blue;
}

.brand-grey-light {
    background-color: $brand-grey-light;
}