@import 'colors';

$logo-size: 50px;
$logo-margin: 5px;

nav {
    background-color: $brand-grey;
    // .nav-wrapper {
    //     padding: 0 .75rem;
    // }
    .lng.dropdown-trigger {
        i {
            &.left {
                margin-right: 0;
            }
            &.right {
                margin-left: 0;
            }
        }
    }
    .brand-logo {
        img, object {
            height: $logo-size;
            margin-top: (64px - $logo-size) / 2;
            // margin-left: -$logo-margin;
            padding: 0 $logo-margin;
            @media screen and (max-width : 600px) {
                margin-top: (56px - $logo-size) / 2;
            }
        }
        span {
            left: $logo-size + $logo-margin;
        }
    }

    ul li {
        text-transform: capitalize;
        &:hover {
            background-color: rgba(255,255,255,0.125);
        }
    }
}