@import "../../../../node_modules/materialize-css/sass/materialize.scss";

@import 'colors';
@import 'nav';
@import 'buttons';

body {
    font-family: Asap, $font-stack;

    &[data-page="home"] {
        .parallax-container {
            min-height: 450px;
            line-height: 0;
            height: auto;
            color: #fff;
            text-shadow: rgba(0,0,0,0.9) 0 0px 6px;

            @media screen and (min-width: 992px) {
                font-size: 1.75em;
            }

            .section {
                width: 100%;
            }
        }

        .parallax {
            img {
                width: 100%;
            }
        }

        #bg2 {
            filter: blur(2.5px);
        }

        #logo-main {
            margin-top: 4rem;
        }

        #index-banner .section {
            top: 10%;
            min-height: 450px;
        }

        @media only screen and (max-width : 992px) {
            .parallax-container .section {
                position: absolute;
                top: 40%;
            }

            .parallax-container {
                min-height: 380px;
            }

            #index-banner .section {
                top: 10%;
                // min-height: 380px;
            }

            #logo-main {
                margin-top: 1.5rem;
            }
        }

        // @media only screen and (max-width : 990px) {
        //     #index-banner .section {
        //         top: 0;
        //         min-height: 225px;
        //     }

        //     .parallax-container {
        //         min-height: 225px;
        //     }

        //     #logo-main {
        //         margin-top: 1.5rem;
        //     }
        // }

        @media only screen and (max-width : 600px) {
            #index-banner .section {
                top: 0;
            }

            .parallax-container {
                min-height: 200px;
                &#index-banner {
                    min-height: 300px;
                }
            }

            #logo-main {
                margin-top: 0.5rem;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 7px;
            }
        }

        p {
            line-height: 2rem;
        }

        .icon-block {
            padding: 0 15px;

            .material-icons {
                font-size: inherit;
                color: $brand-blue
            }
        }

        #contact-form {
            button {
                width: 100%;
            }
        }

        footer.page-footer {
            margin: 0;
        }
    }
}

.sales-list {
    table {
        td {
            width: auto;

            &.min {
                width: 1%;
                white-space: nowrap;
            }
        }
    }

    .price {
        margin-left: auto;
        margin-right: 1rem;
    }
}

.inventory-header {

    .row,
    input#inputFilter {
        margin-bottom: 0;
    }

    h5.col {
        padding: 0;
    }
}

.toast {
    &.error {
        strong {
            margin-right: 1.5rem;
        }
    }
}

.hidden {
    display: none;
}